<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hitty.hmall.manage.mapper.SkuSaleAttrValueMapper">

    <!--resultMap：返回结果集   id:表示唯一标识   type：返回结果集数据类型   autoMapping: 自动映射！ -->
    <resultMap id="skuSaleAttrValueMap" type="com.hitty.hmall.bean.SkuSaleAttrValue" autoMapping="true">

        <!--id:表示主键 property:表示实体类的属性名 column：表中的字段名-->
        <id property="id" column="id"></id>

        <!-- ofType: 返回集合的属性对象-->
<!--        <collection property="" ofType="" autoMapping="true">-->
<!--            <id property="" column=""></id>-->
<!--        </collection>-->

    </resultMap>


    <select id="selectSkuSaleAttrValueListBySku" resultMap="skuSaleAttrValueMap">
        SELECT ssav.sku_id,
        ssav.sale_attr_value_id,
        ssav.sale_attr_value_name
        FROM sku_info ki,
        sku_sale_attr_value ssav
        WHERE ki.id=ssav.sku_id
        AND ki.spu_id=#{spu_id}
        ORDER BY ssav.sku_id,ssav.sale_attr_value_id
    </select>

</mapper>